@model WebPPC.Models.PROPERTY
@using WebPPC.Models;
@{
    ViewBag.Title = "CreateProject";


    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var db = new team12Entities();
}

<h2 style="text-align:center">Post Project</h2>
<hr />

@using (Html.BeginForm("CreateProject", "Create", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PropertyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PropertyName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropertyName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Avatar, htmlAttributes: new { @class = "control-label  col-md-2" })
            <div class="col-md-10" style="width:210px">
                <input type="file" name="Avatar" class="form-control" />
                @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger " })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Images, htmlAttributes: new { @class = "control-label  col-md-2" })
            <div class="col-md-10" style="width:210px">
                <input type="file" name="Image" class="form-control" />
                @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger " })
            </div>
        </div>
        <div class="form-group col-md-10">
            @Html.DropDownList("PropertyType_ID",
                                            new SelectList(db.PROPERTY_TYPE, "ID", "CodeType"),
                                         "--Property Type--", new { @class = "form-control control-label col-md-2" })

        </div>
        <div class="form-group col-md-10">

            @Html.DropDownList("District_ID",
                              new SelectList(db.DISTRICTs, "ID", "DistrictName"),
                                      "--Chọn Quận--", new { @class = "form-control control-label col-md-2" })
        </div>
        <div class="form-group col-md-10">

            @Html.DropDownListFor(m => m.Ward_ID,
                              new SelectList(db.WARDs.Take(0), "ID", "WardName"),
                                      "--Chọn Phường--", new { @class = "form-control control-label col-md-2" })
        </div>
        <div class="form-group col-md-10">

            @Html.DropDownListFor(m => m.Street_ID,
                              new SelectList(db.STREETs.Take(0), "ID", "StreetName"),
                                      "--Chọn Đường--", new { @class = "form-control control-label col-md-2" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitPrice)
                @Html.ValidationMessageFor(model => model.UnitPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Area, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Area)
                @Html.ValidationMessageFor(model => model.Area)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BedRoom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BedRoom)
                @Html.ValidationMessageFor(model => model.BedRoom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BathRoom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BathRoom)
                @Html.ValidationMessageFor(model => model.BathRoom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PackingPlace, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PackingPlace)
                @Html.ValidationMessageFor(model => model.PackingPlace)
            </div>
        </div>



        @*<div class="form-group">
                @Html.LabelFor(model => model.Created_at, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Created_at)
                    @Html.ValidationMessageFor(model => model.Created_at)
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.Create_post, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Create_post)
                    @Html.ValidationMessageFor(model => model.Create_post)
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.Status_ID, "Status_ID", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Status_ID", String.Empty)
                    @Html.ValidationMessageFor(model => model.Status_ID)
                </div>
            </div>*@


        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>
        @*<div class="form-group">
                @Html.LabelFor(model => model.Updated_at, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Updated_at)
                    @Html.ValidationMessageFor(model => model.Updated_at)
                </div>
            </div>*@
        @*<div class="form-group">
                @Html.LabelFor(model => model.USER.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.USER.Email)
                    @Html.ValidationMessageFor(model => model.USER.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.USER.Phone, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.USER.Phone, new { @class = "control-label col-md-2" })
                    @Html.ValidationMessageFor(model => model.USER.Phone)
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("PostProject", "Post")"><input type="submit" value="Post" class="btn btn-warning btn-xl" /></a>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('#District_ID').select2();
        $('#Ward_ID').select2();
        $('#Street_ID').select2();
        $('#District_ID').on('change', function () {
            $('#Street_ID').empty();
            $.getJSON('GetStreet?District_id=' + $('#District_ID').val(),
            function (json) {
                $('#Street_ID').select2({ data: json });
            });
        });
        $('#District_ID').on('change', function () {
            $('#Ward_ID').empty();
            $.getJSON('GetWard?District_id=' + $('#District_ID').val(),
            function (json) {
                $('#Ward_ID').select2({ data: json });
            });
        });
    </script>
}
