@model IEnumerable<WebPPC.Models.PROPERTY>
@using WebPPC;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Danh sách dự án</h2>
<style>
    body {
        background-image: url(https://placeinsaigon.com/wp-content/uploads/2017/09/section.jpg);
    }
    #scroll {
        display: block;
        padding: 5px;
        margin-top: 5px;
        overflow: scroll;
    }

    .log {
        text-align: right;
        padding-right: 20px;
    }
</style>

@if (ViewBag.count != 0)
{

    <a href="/Project/PostProject"><h4>Tạo</h4></a>

    <table class="table" id="scroll">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                <p>Feature</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PROJECT_STATUS.Status_Name)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.DISTRICT.DistrictName)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.STREET.StreetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.USER.Email)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.WARD.WardName)
                </th>*@

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: justify;">
                    @Html.DisplayFor(modelItem => item.PropertyName)
                </td>

                <td>
                    <img src="/img/@item.Avatar" width="100" />
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Avatar)
                </td>
                <td style="text-align: justify;">
                    @Html.Raw(item.Content)

                    
                  
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Price)   @Html.DisplayFor(modelItem => item.UnitPrice)

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BedRoom)&nbsp;<img src="~/img/iconbed.PNG" alt="Bed-Rooom: " width="20">
                    <br>
                    @Html.DisplayFor(modelItem => item.BathRoom) &nbsp;<img src="~/img/iconbath.PNG" alt="Bath-Room: " width="20">
                    <br>
                    @Html.DisplayFor(modelItem => item.PackingPlace) &nbsp;<img src="~/img/iconparking.PNG" alt="Parking-Place: " width="20">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PROJECT_STATUS.Status_Name)
                </td>
                <td>
                    @if (item.Status_ID == 2)
                    {
                        @Html.ActionLink("Sửa", "Edit", new { id = item.ID })
                    }
                    <br>
                    @Html.ActionLink("Chi tiết", "Detail", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
}
else
{
    <br /><br />
    <span><h6>Bạn chưa có bài viết, nhấn vào <a href="/Project/PostProject" style="color:blue">Tạo</a> để tạo bài viết mới nhé </h6></span>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
}