@model WebPPC.Models.PostModel
@using WebPPC.Models;
@{
    ViewBag.Title = "PostProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new team12Entities();
    var features = db.FEATUREs.ToList();
    var feature_property = db.PROPERTY_FEATURE.ToList();
    var picture = db.PICTUREs.ToList();
    
}

<style>
    body {
        background-image: url(https://placeinsaigon.com/wp-content/uploads/2017/09/section.jpg);
    }
    #button {
        background-color: #1C1C1C;
        color: white;
        border-radius: 2px;
        padding: 12px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
       
    }
    #text-box single-line {
        width: 400px;
    }
</style>
@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtAvatar').val(url);
            };
            finder.popup();
        })

        var editor = CKEDITOR.replace('txtContent', {
            customConfig: 'Plugins/ckeditor/config.js',
        });
    </script>
}

<h2 style="text-align:center">Đăng dự án</h2>
<hr />
@using (Html.BeginForm("PostProject", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="padding-left:20%;">


    @Html.ValidationSummary(true)

    <div id="avatar" class="form-group">
        @Html.LabelFor(model => model.PropertyName, new { @class = "control-label col-md-2" })
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.PropertyName, new { style = "width: 400px;   padding: 12px 22px;" })
            @Html.ValidationMessageFor(model => model.PropertyName)
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Avatar, htmlAttributes: new { @class = "control-label  col-md-2" })
        <div class="col-md-4">
            <input type="file" name="Avatar" class="form-control" />
            @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger g ", style = "width:50px;  text-align: center;" })
        </div>
        <p class="help-block text-danger"></p>
    </div>


    @*<div class="form-group">
            @Html.LabelFor(model => model.Images, htmlAttributes: new { @class = "control-label  col-md-2" })
            <div class="col-md-10 " style="width:240px">
                <input type="file" name="Image" class="form-control" required data-validation-required-message="" />
                @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger " })
            </div>
        </div>*@
    <br>
    <div class="form-group">
        <div class="col-md-10">
            <label>Chọn ảnh cho dự án của bạn:</label>
        </div>

        <div class="col-md-10">

            <div class="row">
                <div class="col-md-5" style="width:240px">
                    <div class="img-picker"><div class="form-control btn btn-default btn-block img-upload-btn"><i class="glyphicon glyphicon-plus"></i><input type="file" class="imgin" name="images"></div></div>
                </div>
                <div class="col-md-5" style="width:240px">
                    <div class="img-picker"><div class="form-control btn btn-default btn-block img-upload-btn"><i class="glyphicon glyphicon-plus"></i><input type="file" class="imgin" name="images"></div></div>
                </div>
                <div class="col-md-5" style="width:240px">
                    <div class="img-picker"><div class="form-control btn btn-default btn-block img-upload-btn"><i class="glyphicon glyphicon-plus"></i><input type="file" class="imgin" name="images"></div></div>
                </div>
                <div class="col-md-5" style="width:200px">
                    <div class="img-picker"><div class="form-control btn btn-default btn-block img-upload-btn"><i class="glyphicon glyphicon-plus"></i><input type="file" class="imgin" name="images"></div></div>
                </div>


            </div>

        </div>
    </div>

    <div class="form-group col-md-10">
        @Html.DropDownList("PropertyType_ID",
                                                  new SelectList(db.PROPERTY_TYPE, "ID", "CodeType"),
                                               "--Property Type--", new { @class = "form-control control-label col-md-2" })

    </div>
    <div class="form-group col-md-10">

        @Html.DropDownList("District_ID",
                                new SelectList(db.DISTRICTs, "ID", "DistrictName"),
                                        "--Chọn Quận--", new { @class = "form-control control-label col-md-2" })
    </div>
    <div class="form-group col-md-10">

        @Html.DropDownListFor(m => m.Ward_ID,
                                    new SelectList(db.WARDs.Take(0), "ID", "WardName"),
                                            "--Chọn Phường--", new { @class = "form-control control-label col-md-2" })
    </div>
    <div class="form-group col-md-10">

        @Html.DropDownListFor(m => m.Street_ID,
                                    new SelectList(db.STREETs.Take(0), "ID", "StreetName"),
                                            "--Chọn Đường--", new { @class = "form-control control-label col-md-2" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Price, new { style = "width: 400px" })
            @Html.ValidationMessageFor(model => model.Price)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UnitPrice, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="text-box single-line valid" data-val="true" data-val-required="Vui lòng nhập đơn vị tiền cho dự án của bạn" id="UnitPrice" name="UnitPrice" type="text" value="VND" style="width: 400px">
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Area, new { @class = "control-label col-md-2", style = "width:200px" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Area, new { style = "width: 400px" })
            @Html.ValidationMessageFor(model => model.Area)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BedRoom, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BedRoom, new { style = "width: 400px" })
            @Html.ValidationMessageFor(model => model.BedRoom)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BathRoom, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BathRoom, new { style = "width: 400px" })
            @Html.ValidationMessageFor(model => model.BathRoom)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PackingPlace, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.PackingPlace, new { style = "width: 400px" })
            @Html.ValidationMessageFor(model => model.PackingPlace)
        </div>
    </div>

    @foreach (var item in features)
    {
        <div class="col-md-10">
            <div class="checkbox">
                <label><input type="checkbox" value="@item.FeatureName" name="feature">@item.FeatureName</label>
            </div>
        </div>

    }

    <br>
    <div class="form-group">


        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" }, id = "txtContent" })
            @Html.ValidationMessageFor(model => model.Content)
        </div>
    </div>
    <div class="form-group col-md-10">
        <select class="form-control control-label col-md-2 valid" id="Status_ID" name="Status_ID">
            <option value="1">Chưa duyệt</option>
            <option value="2">Lưu nháp</option>
        </select>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="button" type="submit" value="Tạo" class="btn btn-default" />

        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('#District_ID').select2();
        $('#Ward_ID').select2();
        $('#Street_ID').select2();
        $('#District_ID').on('change', function () {
            $('#Street_ID').empty();
            $.getJSON('GetStreet?District_id=' + $('#District_ID').val(),
            function (json) {
                $('#Street_ID').select2({ data: json });
            });
        });
        $('#District_ID').on('change', function () {
            $('#Ward_ID').empty();
            $.getJSON('GetWard?District_id=' + $('#District_ID').val(),
            function (json) {
                $('#Ward_ID').select2({ data: json });
            });
        });
    </script>
}