@model WebPPC.Models.PostModel
@using WebPPC.Models;
@{
    ViewBag.Title = "PostProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new team12Entities();
}

<style>
    #button {
        background-color: #1C1C1C;
        color: white;
        border-radius: 2px;
        padding: 12px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<h2 style="text-align:center">Post Project</h2>
<hr />
@using (Html.BeginForm("PostProject", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div id="ab" class="form-horizontal g">


        @Html.ValidationSummary(true)

        <div id="avatar" class="form-group">
            @Html.LabelFor(model => model.PropertyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PropertyName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropertyName)
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Avatar, htmlAttributes: new { @class = "control-label  col-md-2" })
            <div class="col-md-10" style="width:240px">
                <input type="file" name="Avatar" class="form-control" />
                @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger  " })
            </div>
            <p class="help-block text-danger"></p>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Images, htmlAttributes: new { @class = "control-label  col-md-2" })
            <div class="col-md-10 " style="width:240px">
                <input type="file" name="Image" class="form-control" required data-validation-required-message="" />
                @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger " })
            </div>
        </div>
        <div class="form-group col-md-10">
            @Html.DropDownList("PropertyType_ID",
                                            new SelectList(db.PROPERTY_TYPE, "ID", "CodeType"),
                                         "--Property Type--", new { @class = "form-control control-label col-md-2" })

        </div>
        <div class="form-group col-md-10">

            @Html.DropDownList("District_ID",
                          new SelectList(db.DISTRICTs, "ID", "DistrictName"),
                                  "--Chọn Quận--", new { @class = "form-control control-label col-md-2" })
        </div>
        <div class="form-group col-md-10">

            @Html.DropDownListFor(m => m.Ward_ID,
                              new SelectList(db.WARDs.Take(0), "ID", "WardName"),
                                      "--Chọn Phường--", new { @class = "form-control control-label col-md-2" })
        </div>
        <div class="form-group col-md-10">

            @Html.DropDownListFor(m => m.Street_ID,
                              new SelectList(db.STREETs.Take(0), "ID", "StreetName"),
                                      "--Chọn Đường--", new { @class = "form-control control-label col-md-2" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="text-box single-line valid" data-val="true" data-val-required="Vui lòng nhập đơn vị tiền cho dự án của bạn" id="UnitPrice" name="UnitPrice" type="text" value="VND">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Area, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Area)
                @Html.ValidationMessageFor(model => model.Area)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BedRoom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BedRoom)
                @Html.ValidationMessageFor(model => model.BedRoom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BathRoom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BathRoom)
                @Html.ValidationMessageFor(model => model.BathRoom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PackingPlace, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PackingPlace)
                @Html.ValidationMessageFor(model => model.PackingPlace)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>
        <div class="form-group col-md-10">
            <select class="form-control control-label col-md-2 valid" id="Status_ID" name="Status_ID">
                <option value="1">Chưa duyệt</option>
                <option value="2">Lưu nháp</option>
            </select>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="button" type="submit" value="Create" class="btn btn-default" />

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('#District_ID').select2();
        $('#Ward_ID').select2();
        $('#Street_ID').select2();
        $('#District_ID').on('change', function () {
            $('#Street_ID').empty();
            $.getJSON('GetStreet?District_id=' + $('#District_ID').val(),
            function (json) {
                $('#Street_ID').select2({ data: json });
            });
        });
        $('#District_ID').on('change', function () {
            $('#Ward_ID').empty();
            $.getJSON('GetWard?District_id=' + $('#District_ID').val(),
            function (json) {
                $('#Ward_ID').select2({ data: json });
            });
        });
    </script>
}