@model WebPPC.Models.PROPERTY

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Dự án</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PropertyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Images)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BedRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BedRoom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BathRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BathRoom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackingPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackingPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_post)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_post)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTRICT.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTRICT.DistrictName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROJECT_STATUS.Status_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROJECT_STATUS.Status_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROPERTY_TYPE.CodeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROPERTY_TYPE.CodeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STREET.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STREET.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER1.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER1.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WARD.WardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WARD.WardName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Trở về", "Index")
</p>
